{% if request.GET.key == event.edit_key and event.edit_key %}

<form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>

{% else %}

<p>sorry, wrong edit key</p>

{% endif %}
