{% extends 'base.html' %}
{% load static thumbnail %}

{% block title %}Communal Leisure{% endblock %}
{% block description %}event listing for glasgow{% endblock %}

{% block head %}
{% if event %}
{% thumbnail event.image 0x450 upscale as poster %}

<meta property="og:url" content="https://communalleisure.com/event/{{event.id}}" />
<meta property="og:type" content="Article" />
<meta property="og:title" content="{{event}} | Communal Leisure" />
<meta property="og:description" content="{{event.acts}} {{ event.start_date|date:"D jS F P" }} {{event.venue}}" />
<meta property="og:image" content="https://communalleisure.com{{poster.url | cut:"/var/www/communal-leisure"}}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@communalleisure" />
<meta name="twitter:title" content="{{event}}" />
<meta name="twitter:description" content="{{event.acts}} {{ event.start_date|date:"D jS F P" }} {{event.venue}}" />
<meta name="twitter:image" content="https://communalleisure.com{{poster.url | cut:"/var/www/communal-leisure"}}" />
{% else %}
<meta property="og:url" content="https://communalleisure.com" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Communal Leisure" />
<meta property="og:description" content="Communal Leisure is a space for discussion and sharing of music, art and politics, based in Glasgow." />
<meta property="og:image" content="https://communalleisure.com/static/img/bigrabbit.png" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@communalleisure" />
<meta name="twitter:title" content="Communal Leisure" />
<meta name="twitter:description" content="Communal Leisure is a space for discussion and sharing of music, art and politics, based in Glasgow." />
<meta name="twitter:image" content="https://communalleisure.com/static/img/bigrabbit.png" />
{% endif  %}


{% endblock %}


{% block rightnav %}
<div class="navigation">
<div class="btn-group" role="group" aria-label="events nav">
    <button type="button" class="btn btn-secondary text-view-button">Text view</button>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filters</button>
        <ul class="dropdown-menu">
        {% for category in categories %}
             <li><a data-filter="category" data-category="{{ category.name }}" class="filter-button dropdown-item">{{ category.display_name }}</a></li>
          {% endfor %}
            <li><a data-filter="free" class="filter-button free-button dropdown-item">Free events</a></li>
        </ul>
    </div>
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addEventModal">Add an event</button>
</div>
</div>
{% endblock %}

{% block content %}
<input id="pagesTotal" type="hidden" value="{{events.paginator.num_pages }}">
{% if request.GET.add == "success" %}
<div class="alert alert-success alert-dismissable" role="alert">
 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
Your event has been submitted and will be soon be published. <strong>Thank you.</strong></div>
{% elif request.GET.add == "duplicate" %}
<div class="alert alert-warning alert-dismissable" role="alert">
 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
An event is already taking place at this venue and this time so is probably a duplication. Please email if this seems wrong. <strong>Thank you.</strong></div>
{% elif request.GET.add == "error" %}
<div class="alert alert-danger alert-dismissable" role="alert">
 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
On no, something didn't go as planned. <strong>Sorry.</strong></div>
{% endif %}

<div class="grid row-fluid"> 
        {% if events %}

    {% for event in events %}
      <div id="a-{{event.pk}}" class="grid-item event {% if event.image.height > event.image.width %}vert{% else %}horiz{% endif %}" data-date="{{event.start_date|date:'U'}}" data-cost="{{event.cost}}" {% if event.category %}data-category="{{ event.category }}"{% endif %} data-id="{{event.pk}}">
{% if event.image.height > event.image.width %}
{% thumbnail event.image 0x300 upscale as poster %}
<img width="{{poster.width}}" height="{{poster.height}}" class="lazy" {% if forloop.counter > 1000 %}data-original{% else %}src{% endif %}="{{poster.url | cut:"/var/www/communal-leisure"}}" alt="{{event}}">
{% else %}
{% thumbnail event.image 300x0 upscale as poster %}
<img width="{{poster.width}}" height="{{poster.height}}" class="lazy" {% if forloop.counter > 1000 %}data-original{% else %}src{% endif %}="{{poster.url | cut:"/var/www/communal-leisure"}}" alt="{{event}}">
{% endif %}
 <div class="grid-item-info">
  <div class="inner">
    <div class="middle">
      <p><small>{{ event.start_date|date:"D jS F P" }}{% if event.occur == "1" %} Every week{% elif event.occur == "2" %} Every 2 weeks{% endif %}  
<em>{% if event.cost == 0 %}Free entry{%else%}&pound;{{event.cost}}{% endif %}</em></small> 
  {% if event.category %}<li>{{ event.category }}</li>{% endif %}</p>
      <p><strong>{{event}}</strong></p>
      <p><em><small>{{event.venue}}</small></em></p>
      <p><small>{{event.acts}}</small></p>
      </div>
      </div>
    </div>
  </div>    
        {% endfor %}
{% endif %}
        </div>

{% if events %}
<div id="#text-view" class="table-responsive">
<table class="table tablesorter">
<thead class="thead-inverse">
<tr>
  <th>Date</th>
  <th>Name</th>
  <th>Acts</th>
  <th>Location</th>
  <th>Cost</th>
  <th>Category</th>
</tr>
</thead>
<tbody>
  {% for event in events %}
<tr class="{%if event.cost == 0%}free{% endif %}{% if event.category %} {{ event.category }}{% endif %}">
  <td>{{ event.start_date|date:"D jS F P" }}{% if event.occur == "1" %} Every week{% elif event.occur == "2" %} Every 2 weeks{% endif %}</td>
  <td>{{event}}</td>
  <td>{{event.acts}}</td>
  <td>{{event.venue}}</td>
  <td>{% if event.cost == 0 %}Free{% else %}£{{event.cost}}{% endif %}</td>
  <td>{% if event.category %}{{ event.category }}{% endif %}</td>
</tr>
  {% endfor %}
</tbody>
</table>
{% endif %}
</div>

{% endblock %}
{% block prescripts %}
        <!-- Modal for adding content -->
<div class="modal" id="addEventModal" tabindex="-1" role="dialog" aria-labelledby="addEvent" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="addEvent">Add an event</h4>
      </div>
      <div class="modal-body">
 <div class="fbimport" style="display:none">
<p><em><small>Please fill the 'Acts', 'End Date' and 'Cost' fields out manually - the rest is fetched from facebook by copying the event URL from your browser address bar, pasting it in to the field below and clicking the 'import' button.</small></em></p>      
   
         <input type="text" id="eventid" name="eventid" placeholder=" Facebook Event URL">
         <button class="go">Import</button>
      </div>

      <span class="show-fb-import"> <em>Fill out the form below or </em> <button><i class="fa fa-facebook"></i> Import Facebook Event</button><em> to save time.</em></span>
<hr/>
        <form enctype="multipart/form-data" method="post" action="/submit-event/">
                {{formset.as_ul}}{% csrf_token %}
<div class="row">
          <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
       </div> </form></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="event" aria-hidden="true">
  <div class="modal-dialog" role="document" id="eventModal-dialog">
{% if event %}  
  <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="addEvent">{{event}}</h4>
      </div>
      <div class="modal-body">
<ul>
  <li>{{ event.start_date|date:"D jS F P" }} {% if event.occur == "1" %} Every week{% elif event.occur == "2" %} Every 2 weeks{% endif %}</li>
  <li>{{event.acts}}</li>
  <li>{{event.venue}}</li>
  <li>£{{event.cost}}</li>
  {% if event.category %}<li>{{ event.category }}</li>{% endif %}
</ul>
{{event.description}}
<hr/>
<img src="/media/{{event.image}}" alt="event">
      </div>
      <div class="modal-footer">
   <a href="http://www.facebook.com/sharer.php?u={{ request.get_host }}/event/{{ event.pk }}"><i class="fa fa-facebook"></i></a>
  <a href="https://twitter.com/share?text={{ event }} @communalleisure"><i class="fa fa-twitter"></i></a>
  <a href="https://plus.google.com/share?url={{ request.get_host }}/event/{{ event.pk }}"><i class="fa fa-google"></i></a>
  <a href="whatsapp://send?text={{ event }} {{ request.get_host }}/event/{{ event.pk }}" data-action="{{ site_url }}/event/{{ event.pk }}"><i class="fa fa-whatsapp"></i></a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
{% endif %}
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.26.5/js/jquery.tablesorter.combined.min.js"></script>
<script>

{% if event %}
$(document).ready(function(){
$('#eventModal').modal('show');
});
{% endif %}


</script>



{% endblock %}
