{% extends 'base.html' %}

{% block content %}

<p>Sorry, the page you requested was not found.</p>

<p>The file you're looking for may have been removed.</p>

<p>Browse the <a href="{% url 'events' %}">events</a> or <a href="{% url 'articles' %}">magazine</a> sections to find what you're looking for.</p>

{% endblock %}