{% extends 'base.html' %}

{% block content %}

<p>Sorry, we've run into an unexpected error.</p>

<p>Browse the <a href="{% url 'events' %}">events</a> or <a href="{% url 'articles' %}">magazine</a> sections to find what you're looking for.</p>

{% endblock %}