{% load static %}
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Communal Leisure</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" sizes="57x57" href="/static/img/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/static/img/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/static/img/apple-touch-icon-120x120.png">
<link rel="icon" type="image/png" href="/static/img/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/static/img/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/static/img/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/static/img/manifest.json">
<link rel="mask-icon" href="/static/img/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/static/img/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/static/img/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
        	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static "css/main.css" %}">
        <link rel="stylesheet" href="{% static "css/fonts.css" %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>

{% block head %}{% endblock %}
        
    </head>
    <body>
        <!--[iv-f lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
<div id="loading-rabbit"><img src="/static/img/rabbit.png"/></div>
        <div class="container-fluid rabbit">

<div class="row navigation">
<div class="col-md-8">
<nav class="navbar navbar-light">
    <a class="navbar-brand" href="/">COMMUNAL LEISURE</a>
<ul class="nav navbar-nav">
<li class="nav-item {% if events %}active{% endif %}">
      <a class="nav-link" href="{% url 'events' %}">Events</a>
    </li>
    <li class="nav-item {% if object_list or article %}active{% endif %}">
      <a class="nav-link" href="{% url 'articles' %}">Magazine</a>
    </li>
  </ul>
</nav>        
</div>
<div class="col-md-4 rightnav">
{% block rightnav %}{% endblock %}  
</div>
</div>
{% block content %}{% endblock %}  
<hr/>
<div class="row">
<div class="col-sm-5"><h3>about</h3>
<p>Communal Leisure is a space for discussion and sharing of music, art and politics, based in Glasgow.  We aim to unpack ideas of work, labour, ‘DIY’ culture, and leisure.  Our online poster wall primarily features events that are non-profit, free or cheap, politically aware and implicitly or actively working against forms of oppression based on race, gender, sexuality, ability, bodies and class. We have an open collective of people working on both our print and online forms, and are always up for new people getting involved. Everyone is free to add their own event.  
</p>
</div>
<div class="col-sm-5"><h3>mailing list</h3><!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{clear:left; font-size:14px; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//communalleisure.us13.list-manage.com/subscribe/post?u=fd524c88c6694324051a45384&amp;id=e4cd63a47b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
<div class="mc-field-group">
	<input type="email" value="" name="EMAIL" class="required email" placeholder="Email Address" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fd524c88c6694324051a45384_e4cd63a47b" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<p>contact: communalleisure@gmail.com</p>
<!--End mc_embed_signup--></div>
<div class="col-sm-2"></div>
 </div>
        </div>
{% block prescripts %}{% endblock %}
        
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.2.0/imagesloaded.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
 <script src="https://cdn.jsdelivr.net/jquery.textfill/0.6.0/jquery.textfill.min.js"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-sham.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.34.4/es6-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.34.4/es6-sham.min.js"></script>
            <script src="{% static "js/functions.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>
{% block scripts %}{% endblock %}
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-77782212-1', 'auto');
  ga('send', 'pageview');
        </script>
    </body>
</html>

