{% extends 'base.html' %}
{% load static thumbnail %}

{% block head %}
{% thumbnail object.image 0x450 upscale as image %}
<meta property="og:url" content="{{ request.get_host }}/article/{{object.id}}" />
<meta property="og:type" content="Article" />
<meta property="og:title" content="{{object}} | Communal Leisure" />
<meta property="og:description" content="{{object}} by {{object.created_by}}" />
<meta property="og:image" content="{{ request.get_host }}{{image.url | cut:"/var/www/communal-leisure"}}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@communalleisure" />
<meta name="twitter:title" content="{{object}}" />
<meta name="twitter:description" content="{{object}} by {{object.created_by}}" />
<meta name="twitter:image" content="{{ request.get_host }}{{image.url | cut:"/var/www/communal-leisure"}}" />
{% endblock %}


{% block content %}
<div class="container-fluid">
<h2>{{ object.name }}</h2>
<p>{{ object.date_created|date:"fa n F Y" }}</p>

{% if object.image %}
	{% if object.image.height > object.image.width %}
		<img class="article-image" src="{{object.image | thumbnail_url:"poster_potrait"|cut:"/var/www/communal-leisure"}}">
	{% else %}
		<img src="{{object.image | thumbnail_url:"poster_landscape"|cut:"/var/www/communal-leisure"}}">
	{% endif %}
{% endif %}

{% if created_by %}<p>By {{ object.created_by }}</p>{% endif %}
<p>{{ object.article_body|safe|linebreaks }}</p>

{% if object.attachment %}
	<a href="{{ object.attachment.url }}">{% if object.attachment_name %}{{ object.attachment_name }}{% else %}{{ object.attachment.name }}{% endif %}</a>
{% endif %}
</div>
{% endblock %}
