{% extends 'base.html' %}
{% load static thumbnail %}

{% block content %}
<div class="container-fluid">
<div class="row magazine-list-issues">
    <h1>Issues</h1>
    {% for magazine in object_list %}
        {% if magazine.image %}
            {% thumbnail magazine.image 400x0 as image %}
            <div class="col">
                <a href="{% if magazine.pdf %}{{ magazine.pdf.url }}{% endif %}">
                    <img width="{{ image.width }}" height="{{ image.height }}" class="article-thumbnail" src="{{ image.url | cut:"/var/www/communal-leisure"}}" alt="{{ article.name }}">
                </a>
            </div>
        {% endif %}
    {% empty %}
        <div class="col">
            No magazines uploaded!
        </div>
    {% endfor %}
</div>
<hr>
<div class="magazine-list-articles">
    <h1>Articles</h1>
    <table id="article-list">
    {% for article in articles %}
        <tr class="article-list-row">
            <td class="image-column">
            {% if article.image %}
                {% thumbnail article.image 200x0 as image %}
                <a href={% url 'article-detail' article.pk %}><img width="{{ image.width }}" height="{{ image.height }}" class="article-thumbnail" src="{{ image.url | cut:"/var/www/communal-leisure"}}" alt="{{ article.name }}"></a>
            {% endif %}
            </td>
            <td>
                <a href={% url 'article-detail' article.pk %}>{{ article.name }}</a>
                <span class="article-list-date"> {{ article.date_created|date:"fa n F Y" }}</span>
                <p>{{ article.article_body|striptags|truncatechars:100 }}</p>
                <div style="clear:both;"></div>
            </td>
        </tr>
    {% empty %}
        <li>No articles yet.</li>
    {% endfor %}
    </table>
</div>
</div>
{% endblock %}
