@font-face {
        font-family: 'benguiat';
        src: url('fonts/Benguiat.eot');
        src: local('?~X?'), url('fonts/Benguiat.woff') format('woff'), url('fonts/Benguiat.ttf') format('truetype'), url('fonts/Benguiat.svg') format('svg');
        font-weight: normal;
        font-style: normal;
}
