body {
    font-family: serif;
}

#loading-rabbit img {
    position: relative;
    -webkit-animation:spin 2.5s linear infinite;
    -moz-animation:spin 2.5s linear infinite;
    animation:spin 2.5s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#loading-rabbit {
position: fixed;
z-index:999999;
top: 50vh;
left: 50vw;
transform:translateX(-50%) translateY(-50%);
display:none;}

.btn-group .active {background-color: greenyellow;}

ul.dropdown-menu li {
    position: relative;
    cursor:pointer
}

ul.dropdown-menu li.active a.filter-button:after{
    font-family:'benguiat', serif;
    content:'✕';
    color:black;
    position: absolute;
    right: 22px;
    top: 6px;
    transition:0.15s;
}

ul.dropdown-menu li.active a.filter-button:hover:after{
    color:red;
}
.navbar-brand {
font-family:'benguiat', serif;
font-size: 1.88rem;
color: #444 !important;
}
.container-fluid.rabbit{
background-image: url(/static/img/rabbit.png);
    background-position: right bottom;
    background-repeat: no-repeat;
}

div.grid-item {
display:inline-block;
}

.grid-item.event {
    margin:2px;
}

.grid-item.event img{
    border-radius:2px;
}

@media (max-width: 767px) {
.grid-item.event {width:100%;}
.grid-item.event img {
width:100%;
height: inherit;
}
.rightnav .btn-group {
    float: left;
}

td.image-column {
    display: none;
}

}

@media (min-width: 768px) {
.rightnav .navigation {
    margin: 1.25rem 0 1rem 0;
}
}

.grid-item.event.vert img.big{
    max-height:700px;
}

.grid-item.event.horiz img.big{
    max-width:700px;
}

.grid-item.list{
    width:100%;
}

.grid-item.nav{
    padding:10px;
    margin:10px;
}

.grid-item.list img{
    display:none;
}

.grid-item-info{
    padding: 2%;
    border-radius:2px;
    display: none;
    position: absolute;
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    top: 2px;
    left: 2px;
    background: white;
    color: black;
    opacity: 0.9;
    word-break: break-all;
}

.grid-item-info p{
    margin: 0;
}

.grid-item-info>div.inner {
    position: relative;
    display:table;
    width: 100%;
    height: 100%;
}

.grid-item-info>div.inner>div.middle {
    display: table-cell;
    vertical-align: middle;
}

 .grid-item-info h3, .grid-item-info p {
    font-size:100%;
}
.modal-title{width:80%;}
.modal-content{
    background-image: url('/static/img/pixel-1x1-clear.gif');
    background-size:cover;
       -webkit-transition: all 800ms;
    -moz-transition: all 800ms;
    -o-transition: all 800ms;
    -ms-transition: all 800ms;
    transition: all 800ms;
}

.modal-content div {
color:black;
}

#addEventModal li {
    list-style-type:none;}
#addEventModal li label{
text-transform:capitalize;
font-weight:600;
    }

.modal-content textarea{
    width:100%;
}

.modal-content img{
width:100%;
}

#eventModal .modal-content ul li {
list-style-type:disc;
}

.modal-content label, .modal-content h4, .modal-content small, div.fbimport, div.show-fb-import{
    background-color: white;
    opacity:0.8;
}

.modal-footer {
     border-top: none; 
}

label[for=id_description]{
    display:block;
}

div.container-fluid>div.alert{
margin-top:10px;
}

.navbar {
}
i {color: black;}
.modal-footer i {font-size:1.7em;padding-right:5px; float:left;}
.modal-footer i:hover {color: purple;}

ul {
    list-style-type: none;
}

ul.navbar-nav {margin-top:0.3rem;}

.logo img {max-width: 100%}

.show-fb-import, .go, .reveal, .toggle-image-input{cursor:pointer;}
.reveal, .toggle-image-input {color: blue}

.rightnav .btn-group {
margin-bottom:0.3rem;
}

#article-list {
    border-collapse: collapse;
}

#article-list td {
    padding-bottom: 10px;
}

.article-image {
    float: left;
}

.article-list-date {
    font-size: 10px;
    font-style: italic;
}

.tablesorter {display:none;}

table.tablesorter thead.thead-inverse{cursor:pointer;}
div.event {cursor:pointer;}

button[type="submit"] {float:right;margin-right: 2em;}

.article-thumbnail {
    float: left;
    margin-right: 10px;
}

.magazine-list-issues, .magazine-list-articles {
    padding-top:10px;
}

